@font-face {
    font-family: Urbanist_Regular;
    src: url(fonts/UrbanistPPT-Regular.ttf);
}
@font-face {
    font-family: Urbanist_ThinItalic;
    src: url(fonts/UrbanistPPT-Thin.ttf);
}
@font-face {
    font-family: Urbanist_MediumItalic;
    src: url(fonts/UrbanistPPT-MediumItalic.ttf);
}
@font-face {
    font-family: Urbanist_SemiBold;
    src: url(fonts/UrbanistPPT-SemiBold.ttf);
}
@font-face {
    font-family: Urbanist_Bold;
    src: url(fonts/UrbanistPPT-Bold.ttf);
}
@font-face {
    font-family: Urbanist_ExtraBold;
    src: url(fonts/UrbanistPPT-ExtraBold.ttf);
}

:root{
    /* FONTS */
    --hero: Urbanist_ExtraBold;
    --h1: Urbanist_ExtraBold;
    --h2: Urbanist_Bold;
    --h3: Urbanist_SemiBold;
    --h4: Urbanist_SemiBold;
    --p: Urbanist_Regular;
    --statement: Urbanist_MediumItalic;
    --kommentar: Urbanist_ThinItalic;
    --footer: Urbanist_ExtraBold;
    --nav: Urbanist_SemiBold;

    /* FONT SIZE*/

    --fs-hero: clamp(3.5rem, 14vw, 11.875rem);
    --fs-h1: clamp(2.5rem, 5vw, 6rem);
    --fs-h2: clamp(2rem, 3.5vw, 3rem);
    --fs-h3: clamp(1.5rem, 2.5vw, 2.25rem);
    --fs-h4: clamp(1.25rem, 1.8vw, 1.5rem);
    --fs-p: clamp(1rem, 1.1vw, 1.125rem);
    --fs-footer: clamp(3rem, 12vw, 11.25rem);
    --fs-nav: clamp(1.2rem, 1.2vw, 1.25rem);
    --fs-statement: clamp(1.25rem, 2vw, 1.5rem);
    --fs-citat: clamp(1.5rem, 2.8vw, 2.25rem);

    /* COLORS */
    /* backgrounds */
    --bg-color-1: #F8F6EF;
    --bg-color-2: #F5EEE1;
    /* text */
    --text-color-1: #001F63;
    --text-color-2: #F8F6EF;
    --text-color-3: #B85B14;
    --text-color-4: #001F6380;
    --text-color-5: #71A5FF;
    /* btn+cta */
    --btn-color-1: #71A5FF;
    --btn-hover--1:#4C88FF ;
    --cta-color-1:#FF7100;
    --cta-hover-1: #F8D074;
    /* bonus */
    --bonus-color-1:#FFC2DA;
    --bonus-color-2: #B85B14;
    --bonus-color-3: #F8D074;
    --bonus-color-3: #5CAA6A;
    --bonus-color-3: #4BA0A5;
    --bonus-color-3: #000000;
    --bonus-color-3: #333333;
    --bonus-color-3: #666666;
    --bonus-color-3: #999999;
    --bonus-color-3: #CCCCCC;


}

/* KASSERET KODE */
    /* --fs-hero: 11.875rem;
    --fs-h1: 6rem;
    --fs-h2: 3rem;
    --fs-h3: 2.25rem;
    --fs-h4: 1.5rem;
    --fs-p: 1.125rem;
    --fs-footer: 11.25rem;
    --fs-footer-mobil: 4rem;
    --fs-nav: 1.25rem;
    --fs-statement: 1.5rem;
    --fs-citat: 2.25rem; */