/* NULSTILLING AF STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: red dotted 1px; */
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-color-1);
}
a:visited{
    color: inherit;
}
h1, h2, h3, h4{
   font-weight: inherit;
   font-size: inherit;
}

/* BASISSTYLING */
body{
    font-family: var(--p);
    color: var(--text-color-1);
    background-color: var(--bg-color-1);
}
header nav{
 font-family: var(--nav);
 font-size: var(--fs-nav);   
}

h1{
    font-family: var(--h1);
    font-size: var(--fs-h1);
}
h2{
    font-family: var(--h2);
    font-size: var(--fs-h2);
}
h3{
    font-family: var(--h3);
    font-size: var(--fs-h3);
}
h4{
    font-family: var(--h4);
    font-size: var(--fs-h4);
}
p{
    font-family: var(--p);
    font-size: var(--fs-p);
}
.hero_text{
    font-family: var(--hero);
    font-size: var(--fs-hero);
}
.footer_text{
    font-family: var(--footer);
    font-size: var(--fs-footer);
}
.statement_text{
    font-family: var(--statement);
    font-size: var(--fs-statement);
}
p, h2, h3, h4{
    max-width: 70ch;
}

svg{
    max-width: 100%;
    height: auto;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
section{
    margin: 0 1rem 2rem 1rem;
}
.baggrund{
    background-color: var(--bg-color-2);
}


/* HEADER */
header{
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
    backdrop-filter: blur(2.5px); */

}
.logo{
    font-family: var(--h3);
    font-size: var(--fs-h4);
}
.nav{
    display: flex;
    justify-content: space-between;
    /* margin: 0 1rem 0 1rem; */
    padding: 2.5rem 1rem 0 1rem;
    margin-bottom: 2rem;
}
header nav{
    align-content: center;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav li{
    margin: 0 0 0 2rem;
}
.cta_nav{
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 999px;
    background-color: var(--cta-color-1);
    color: var(--text-color-2);
}

nav ul li:first-child{
    display: none;
    }
nav ul li:last-child{
    display: none;
    }



/* FOOTER */
footer{
    background-color: var(--bg-color-2);
}
.footer_data{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_svg{
    margin: 0 1rem 0 0;
    fill: var(--text-color-1);
}
footer p{
    font-family: var(--footer);
    font-size: var(--fs-footer-mobil);
}

.footer {
    background-image: url(../img/grafik/footer_logo.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 200px auto;
    padding: 3rem 0 0 1rem;
}
.footer_info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0 5rem 0;
}

/* LISTVIEW CARDS */

.article_card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0 5rem 0;
    /* max-width: 50ch; */
}
.article_type{
    color: var(--text-color-3);
}
.article_summary{
    color: var(--text-color-4);
    list-style: none;
    text-decoration: underline;
    margin-top: 2rem;

}
.article_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article_manchet{
    margin-bottom: 0.4rem;
}
.article_extra{
    margin-top: 1rem;
}
.article_img{
    aspect-ratio: 3/2;
}

/* POLITIK NAVIGATION */

#politik_oversigt{
    padding: 1rem 1rem 1rem 1rem;
    gap: 1rem;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.oversigt_nav{
    font-family: var(--nav);
    font-size: var(--fs-nav);
    color: var(--text-color-3);
}

/* IKON BANNER */
.icon_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.icon a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon a h3{
    text-align: center;
    }

@media(width>=820px){
    /* HEADER */
    .nav{
        padding: 3rem 5rem 0 5rem;
    } 
    .logo{
        font-size: var(--fs-h3);
    }
    nav ul li:first-child{
        display: initial;
    }
    nav ul li:last-child{
        display: initial;
    }
    /* FOOTER */
    footer p{
    font-size: var(--fs-footer);
    width: 100%;
    }
    .footer {
        padding: 3rem 0 0 5rem;
        background-size: 300px auto;
    }
    .footer_info{
        flex-direction: row;
        gap: 25rem;
    }
    /* SECTIONS */
    section{
        margin: 0 5rem 3rem 5rem;
    }

    /* LISTVIEW CARDS */
    .article_list{
        align-items: flex-start;
    }
    .article_card{
        flex-direction: row;
        gap: 5rem;
        max-width: 170ch;
    }
    .article_img{
        flex: 3;
    }
    .article_info{
        flex: 5;
        display: flex;
        flex-direction: column;
    }
    .article_info details{
        margin-top: auto;
    }

    /* POLITIK OVERSIGT */
    #politik_oversigt{
    padding: 2rem 5rem 2rem 5rem;
    column-gap: 5rem;
    max-width: 1100px;
    margin-bottom: 3rem;
    }

    /* IKON BANNER */
    .icon_banner{
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 15rem 2rem 15rem;
    }

      
}
