/* NULSTILLING AF STYLING */
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-color-1);
}
a:visited{
    color: inherit;
}
h1, h2, h3, h4{
   font-weight: inherit;
   font-size: inherit;
}

/* BASISSTYLING */
body{
    font-family: var(--p);
    color: var(--text-color-1);
    background-color: var(--bg-color-1);
}
header nav{
 font-family: var(--nav);
 font-size: var(--fs-nav);   
}

h1{
    font-family: var(--h1);
    font-size: var(--fs-h1);
}
h2{
    font-family: var(--h2);
    font-size: var(--fs-h2);
}
h3{
    font-family: var(--h3);
    font-size: var(--fs-h3);
}
h4{
    font-family: var(--h4);
    font-size: var(--fs-h4);
}
p{
    font-family: var(--p);
    font-size: var(--fs-p);
}
.hero_text{
    font-family: var(--hero);
    font-size: var(--fs-hero);
}
.footer-text{
    font-family: var(--footer);
    font-size: var(--fs-footer);
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: transparent;
}
.logo{
    font-family: var(--h3);
    font-size: var(--fs-h3);
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem 0 5rem;
    padding: 2.5rem 0 0 0;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a{
    margin: 0 0 0 2rem;
}
.cta_nav{
     padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 999px;
    background-color: var(--cta-color-1);
    color: var(--text-color-2);
}