/* NULSTILLING AF STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: red dotted 1px;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-color-1);
}
a:visited{
    color: inherit;
}
h1, h2, h3, h4{
   font-weight: inherit;
   font-size: inherit;
}

/* BASISSTYLING */
body{
    font-family: var(--p);
    color: var(--text-color-1);
    background-color: var(--bg-color-1);
    overflow-x: hidden;
}
header nav{
 font-family: var(--nav);
 font-size: var(--fs-nav);   
}

h1{
    font-family: var(--h1);
    font-size: var(--fs-h1);
}
h2{
    font-family: var(--h2);
    font-size: var(--fs-h2);
}
h3{
    font-family: var(--h3);
    font-size: var(--fs-h3);
}
h4{
    font-family: var(--h4);
    font-size: var(--fs-h4);
}
p{
    font-family: var(--p);
    font-size: var(--fs-p);
}
.hero_text{
    font-family: var(--hero);
    font-size: var(--fs-hero);
}
.footer_text{
    font-family: var(--footer);
    font-size: var(--fs-footer);
}
.statement_text{
    font-family: var(--statement);
    font-size: var(--fs-statement);
}
p, h2, h3, h4{
    max-width: 70ch;
}

svg{
    max-width: 100%;
    height: auto;
}
img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
section{
    /* margin: 0 1rem 2rem 1rem; */
    margin: 0 min(5rem, 5%) 2rem min(5rem, 5%);
}
.baggrund{
    padding: 1rem min(5rem, 5%) 1rem min(5rem, 5%);
    margin-bottom: 2rem;
    background-color: var(--bg-color-2);
}


/* HEADER */
header{
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    */
    backdrop-filter: blur(1px);
    background: transparent;
}
#index_main{
    margin-top: -153px;
}
#index_footer{
    margin-top: -121px;
}
.logo{
    font-family: var(--h3);
    font-size: var(--fs-h4);
}
.nav{
    display: flex;
    justify-content: space-between;
    /* margin: 0 1rem 0 1rem; */
    padding: 2.5rem min(5rem, 5%) 2rem min(5rem, 5%);
    /* padding: 2.5rem 1rem 0 1rem; */
    margin-bottom: 2rem;
}
header nav{
    align-content: center;
}
header nav ul{
    display: flex;
    justify-content: space-between;
}
header nav li{
    margin: 0 0 0 2rem;
}
.cta_nav{
    padding: 0.3rem 1.5rem 0.3rem 1.5rem;
    border-radius: 999px;
    background-color: var(--cta-color-1);
    color: var(--text-color-2);
}

nav ul li:first-child{
    display: none;
    }
nav ul li:last-child{
    display: none;
    }



/* FOOTER */
footer{
    background-color: var(--bg-color-2);
}
.footer_data{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer_svg{
    margin: 0 1rem 0 0;
    fill: var(--text-color-1);
    min-width: 30px;
}
footer p{
    font-family: var(--footer);
    font-size: var(--fs-footer);
}

.footer {
    background-image: url(../img/grafik/footer_logo.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 200px auto;
    padding: 3rem 0 0 min(5rem, 5%);
}
.footer_info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0 5rem 0;
}
.footer_svg:hover{
    fill: var(--btn-color-1);
}
.footer_data a:hover{
    color: var(--text-color-5);
}

/* HERO INDEX */
.hero{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.hero_img{
    grid-column: 1/-1;
    grid-row: 1/2;
    /* aspect-ratio: 16/9; */
    height: 95svh;
}
.hero_container{
    margin-top: 121px;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.hero_cta{
    font-family: var(--nav);
    font-size: var(--fs-statement);
    color: var(--text-color-2);
    background-color: var(--cta-color-1);
    border-radius: 9999px;
    padding: 1rem 3rem 1rem 3rem;
    max-width: 230px;
}
.hero_cta:visited{
    color: var(--text-color-2);
}

/* LISTVIEW CARDS */

.article_card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0 5rem 0;
    /* max-width: 50ch; */
}
.article_type{
    color: var(--text-color-3);
}
.article_info{
    max-width: 70ch;
}
.article_summary{
    color: var(--text-color-4);
    list-style: none;
    text-decoration: underline;
    margin-top: 2rem;

}
.article_list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article_manchet{
    margin-bottom: 0.4rem;
}
.article_extra{
    margin-top: 1rem;
}
.article_img{
    aspect-ratio: 3/2;
}

/* POLITIK NAVIGATION */

#politik_oversigt{
    padding: min(3rem, 2%) 0 min(3rem, 2%) 0;
    gap: 1rem;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    /* margin-bottom: 2rem; */
}
.oversigt_nav:visited{
    color: var(--text-color-3);
}
.oversigt_nav{
    font-family: var(--nav);
    font-size: var(--fs-nav);
    color: var(--text-color-3);
}

/* IKON BANNER */
.icon_banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem min(15rem, 10%) 2rem min(15rem, 10%);
}
.icon a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon a h3{
    text-align: center;
    }


/* HERO VIDEO */
.om-mig_hero{
    width: 100%;
    height: 50svh;
    overflow: hidden;
    position: relative;
}
#hero_video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 60%;
    
}

/* INFO BOX */
.info_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.info_box img{
    max-width: 50ch;
}
.info_text{
    max-width: 50ch;
}
.flex_list{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.flex_list dt{
    font-family: var(--h4);
    font-size: var(--fs-p);
}
.flex_list dd{
    font-family: var(--p);
    font-size: var(--fs-p);
}
/* AKTUELT PREVIEW */
#aktuelt-preview{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 2rem;
    margin: min(5rem, 5%);
}
.preview_card a{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(18, 1fr); 
}

.preview_img{
    aspect-ratio: 1/1;
    grid-column: 2/-1;
    grid-row: 2/15;
}
.streg{    
    grid-column: 1/9;
    grid-row: 13/15;
}
.preview_type{
    grid-column: 2/-1;
    grid-row: 13/15;
    font-size: var(--fs-nav);
    color: var(--text-color-1);
}
.preview_manchet{
    grid-column: 2/-1;
    grid-row: 15/18;
}
.read-more{
    margin-top: 1rem;
    text-decoration: underline;
    color: var(--text-color-4);
    grid-column: 2/-1;
    grid-row: 17/-1;
}

/* CITAT */
.citat-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: min(3rem, 5%);
    margin: min(7rem, 7%) 0 min(7rem, 7%) 0;
}
.citat-img{
    aspect-ratio: 4/5;
    width: clamp(0px, 80vw, 500px);
    margin: auto    ;
}
.citat-indhold{
    margin: auto;
    margin-top: min(5rem, 5%);
}
.citat-tekst{
    margin-top: 2rem;
    font-size: var(--fs-citat);
    font-family: var(--statement);
    line-height: min(5rem, 150%);
    margin-top: min(10rem, 10%);
    overflow: visible;
}
.cirkel{
    position: relative;
    z-index: 1;
}
.cirkel::before{
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    right: -20px;
    bottom: 0;
    background-image: url(../img/grafik/orange_cirkel.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media(width>=820px){
    nav ul li:first-child{
        display: initial;
    }
    nav ul li:last-child{
        display: initial;
    }
    /* FOOTER */
    .footer {
        background-size: 300px auto;
    }
    .footer_info{
        flex-direction: row;
        gap: min(25rem, 30%);
    }

    /* LISTVIEW CARDS */
    .article_list{
        align-items: flex-start;
    }
    .article_card{
        display: grid;
        grid-template-columns: 3fr 5fr;
    }
    .article_img{
        /* flex: 3; */
        grid-column: 1/2;
    }
    .article_info{
        grid-column: 2/-1;
        /* flex: 5; */
        display: flex;
        flex-direction: column;
    }
    .article_info details{
        margin-top: auto;
    }

    /* POLITIK OVERSIGT */
    #politik_oversigt{
    column-gap: 5rem;
    max-width: 1100px;
    }

    /* IKON BANNER */
    .icon_banner{
        flex-direction: row;
        justify-content: space-between;
    }
    /* HERO VIDEO */
    .om-mig_hero{
        height: 85svh;
    }

    /* INFO BOX */
    .info_box{
        flex-direction: row;
        align-items: flex-start;
    }

    .info_box img{
        flex: 1;
    }
    .info_text{
        flex: 2;
        max-width: 100%;

    }
    .info_text h2{
        margin-bottom: 2rem;
    }
    
    .flex_list{
        gap: 2rem;
    }
      
}
